<form [formGroup]="mealForm!" (ngSubmit)="saveForm()" *ngIf="mealForm">
  <div class="col-12 flex justify-content-end">
    <p-button
      styleClass="p-button-raised p-button-success mr-1"
      icon="fa-fw fa-solid fa-plus"
      pTooltip="Add a new recipe"
      tooltipPosition="top"
      (onClick)="createNewRecipe()"
    ></p-button>
    <p-button
      styleClass="p-button-raised p-button-secondary mr-1"
      [icon]="'fa-fw fa-solid ' + (isViewMode ? 'fa-pen-to-square' : 'fa-eye')"
      pTooltip="Show/hide edit and delete buttons"
      tooltipPosition="top"
      (onClick)="isViewMode = !isViewMode"
    ></p-button>
    <p-button
      styleClass="p-button-raised p-button-primary"
      icon="fa-fw fa-solid fa-floppy-disk"
      type="submit"
      pTooltip="Save all meals"
      tooltipPosition="top"
      [disabled]="mealForm.invalid"
    ></p-button>
  </div>
  <p-dataView #dv [value]="meals">
    <ng-template let-meal pTemplate="listItem">
      <div class="col-12">
        <div class="flex flex-row align-items-center py-1">
          <hu-date-avatar [date]="meal.date"></hu-date-avatar>
          <div>
            <ng-container *ngFor="let recipe of meal.recipes; index as i">
              <div class="mb-2">
                <p-dropdown
                  [formControlName]="meal.date + '' + i"
                  [options]="recipes"
                  optionLabel="name"
                  [filter]="true"
                  filterBy="name"
                ></p-dropdown>
                <ng-container
                  *ngTemplateOutlet="
                    addNewRecipe;
                    context: {
                      meal: meal,
                      index: i,
                      numRecipes: meal.recipes.length,
                    }
                  "
                ></ng-container>
              </div>
            </ng-container>
          </div>
        </div>
        <p class="ml-8 mb-1">
          <span [innerHTML]="meal.notes" *ngIf="meal.notes"></span>
        </p>
      </div>
    </ng-template>
  </p-dataView>
</form>

<ng-template
  #addNewRecipe
  let-meal="meal"
  let-numRecipes="numRecipes"
  let-index="index"
>
  <p-button
    styleClass="p-button-raised p-button-primary ml-1"
    icon="fa-fw fa-solid fa-pen-to-square"
    (onClick)="onClickEditItem(meal)"
    *ngIf="!isViewMode"
  ></p-button>
  <p-button
    styleClass="p-button-raised p-button-danger ml-1"
    icon="fa-fw fa-solid fa-trash"
    (onClick)="onClickDeleteItem(meal, index)"
    *ngIf="!isViewMode && index !== 0"
  ></p-button>
  <p-button
    icon="fa-fw fa-solid fa-plus"
    styleClass="p-button-success p-button-raised ml-1"
    (onClick)="addRecipe(meal)"
    *ngIf="
      mealForm!.get(meal.date + '' + index)!.value.name &&
      index + 1 === numRecipes
    "
  ></p-button>
</ng-template>

<p-toast position="top-right"></p-toast>
