<div class="card">
  <p-menubar class="header-menu">
    <ng-template pTemplate="start">
      <p-button
        styleClass="p-button-secondary mr-2"
        icon="fa-solid fa-bars fa-fw"
        (onClick)="isSidebarVisible = !isSidebarVisible"
      ></p-button>
      <a class="no-underline font-bold" routerLink="/">
        <span>Home Upkeep</span>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <p-dropdown class="auth-dropdown" [options]="authOptions || []">
        <ng-template pTemplate="selectedItem">
          <i class="fa-regular fa-circle-user"></i>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <a class="dropdown-url" [routerLink]="item.url" *ngIf="item.url">
            <ng-container
              [ngTemplateOutlet]="dropdownItem"
              [ngTemplateOutletContext]="{ $implicit: item }"
            ></ng-container>
          </a>
          <div *ngIf="!item.url">
            <ng-container
              [ngTemplateOutlet]="dropdownItem"
              [ngTemplateOutletContext]="{ $implicit: item }"
            ></ng-container>
          </div>
        </ng-template>
      </p-dropdown>
    </ng-template>
  </p-menubar>
</div>
<div class="router-outlet-container">
  <router-outlet></router-outlet>
</div>

<p-sidebar [(visible)]="isSidebarVisible" position="left">
  <app-sidebar (onCloseSidebar)="closeSidebar()"></app-sidebar>
</p-sidebar>

<ng-template let-item #dropdownItem>
  <div
    class="flex flex-row align-items-center dropdown-item"
    (click)="item.handler && item.handler($event)"
  >
    <i class="{{ item.iconClass }}"></i>
    <p class="ml-2">{{ item.label }}</p>
  </div>
</ng-template>
