.header-menu ::ng-deep  {
  .p-menuitem-link-active span.p-menuitem-text {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }

  .p-menubar-start {
    display: flex;
    align-items: center;
  }
}

.auth-dropdown ::ng-deep {
  & div.p-hidden-accessible {
    display: none;
  }
  & div.p-dropdown-trigger {
    display: none;
  }
  & a.dropdown-url {
    text-decoration: none;
    color: #343a3f;
  }
  & .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: unset;
    background: unset;
  }
  & .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-disabled):hover {
    color: #343a3f;
    background: #dde1e6;
}
}

.dropdown-item {
  min-width: 114px
}

.router-outlet-container {
  padding: 0.5rem;
}

.auth-dropdown ::ng-deep .p-overlay.p-component {
  right: 0;
  left: -7rem !important;
}
