<form [formGroup]="mainForm" (ngSubmit)="saveForm()" *ngIf="mainForm">
  <div class="grid">
    <div class="col-12 flex justify-content-end">
      <p-button
        styleClass="p-button-raised p-button-success mb-2 mr-1"
        icon="fa-fw fa-solid fa-plus"
        (onClick)="addNewMaintenanceItem()"
      ></p-button>
      <p-button
        styleClass="p-button-raised p-button-secondary mb-2 mr-1"
        [icon]="
          'fa-fw fa-solid ' + (isViewMode ? 'fa-pen-to-square' : 'fa-eye')
        "
        (onClick)="isViewMode = !isViewMode"
      ></p-button>
      <p-button
        styleClass="p-button-raised p-button-primary mb-2 mr-1"
        icon="fa-fw fa-solid fa-floppy-disk"
        type="submit"
        [disabled]="mainForm.invalid"
      ></p-button>
      <p-button
        styleClass="p-button-raised p-button-help mb-2 mr-1"
        icon="fa-fw fa-solid fa-rotate"
        (onClick)="resetForm()"
      ></p-button>
      <p-dropdown
        [options]="sortOptions"
        optionLabel="label"
        styleClass="mr-1"
        [(ngModel)]="selectedSort"
        [ngModelOptions]="{ standalone: true }"
        (onChange)="onChangeSortOption($event)"
      >
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2">
            <div>Sorted By: {{ selectedSort.label }}</div>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div class="flex align-items-center gap-2">
            <i [class]="item.icon"></i>
            <div>{{ item.label }}</div>
          </div>
        </ng-template></p-dropdown
      >
      <div class="inline-flex">
        <p class="p-input-icon-right filter-input">
          <i
            class="fa-solid fa-filter fa-fw"
            *ngIf="filterValue.length === 0"
          ></i>
          <i
            class="fa-solid fa-circle-xmark fa-fw"
            (click)="resetFilter()"
            *ngIf="filterValue.length > 0"
          ></i>
          <input
            type="text"
            pInputText
            (keyup)="filterMaintItems()"
            [(ngModel)]="filterValue"
            [ngModelOptions]="{ standalone: true }"
          />
        </p>
      </div>
    </div>
  </div>
  <p-accordion [multiple]="true">
    <p-accordionTab
      [header]="category.label"
      [selected]="category.isExpanded"
      *ngFor="let category of selectedCategories"
    >
      <ng-container
        *ngTemplateOutlet="tasks; context: { items: category.filteredItems }"
      ></ng-container>
    </p-accordionTab>
  </p-accordion>

  <ng-template #tasks let-items="items">
    <ng-container *ngIf="items.length">
      <div class="grid">
        <div class="col-6 pb-0">
          <p class="font-bold">Task</p>
        </div>
        <div class="col-2 pb-0"><p class="font-bold">Last Completed</p></div>
        <div class="col-2 pb-0"><p class="font-bold">Due Date</p></div>
        <div class="col-2 pb-0"><p class="font-bold">Next due date</p></div>
      </div>
      <hr />

      <div class="grid">
        <ng-container *ngFor="let item of items; trackBy: identifyMaintItem">
          <div
            checklistRowStatus
            [doneDate]="mainForm.get(item.control + 'Date')?.value"
            [dueDate]="mainForm.get(item.control + 'DueDate')?.value"
            [isTouched]="mainForm.get(item.control + 'DueDate')?.touched!"
          >
            <div class="col-6 flex align-items-center">
              <p-button
                styleClass="p-button-raised mr-1"
                icon="fa-fw fa-solid fa-pen-to-square"
                (onClick)="onClickEditItem(item)"
                *ngIf="!isViewMode"
              ></p-button>
              <span class="vertical-align-sub">
                {{ item.label }}
                <i
                  class="fa-solid fa-circle-info fa-fw"
                  (click)="op.toggle($event)"
                  *ngIf="item.notes"
                ></i>
                <p-overlayPanel #op>
                  <p [innerHTML]="item.notes"></p>
                </p-overlayPanel>
              </span>
            </div>
            <div class="col-2">
              <p-calendar
                [formControlName]="item.control + 'Date'"
                [showIcon]="true"
                [showButtonBar]="true"
              ></p-calendar>
            </div>
            <div class="col-2">
              <p-calendar
                [formControlName]="item.control + 'DueDate'"
                [showIcon]="true"
                [showButtonBar]="true"
              ></p-calendar>
            </div>
            <div class="col-2">
              <div class="next-due-date-btns">
                <p-button
                  label="+Wk"
                  styleClass="p-button-raised"
                  (click)="updateDueDate(item.control, { weeks: 1 })"
                ></p-button>
                <p-button
                  label="+Mo"
                  styleClass="p-button-raised"
                  (click)="updateDueDate(item.control, { months: 1 })"
                ></p-button>
                <p-button
                  label="+Yr"
                  styleClass="p-button-raised"
                  (click)="updateDueDate(item.control, { years: 1 })"
                ></p-button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-template>
</form>

<p-toast position="top-right"></p-toast>
