<div class="grid-nogutter">
  <div class="col-12 flex justify-content-end">
    <p-button
      styleClass="p-button-raised p-button-success mb-2 mr-1"
      icon="fa-fw fa-solid fa-plus"
      (onClick)="addNewRecipe()"
    ></p-button>
    <p-button
      styleClass="p-button-raised p-button-secondary mb-2 mr-1"
      [icon]="'fa-fw fa-solid ' + (isViewMode ? 'fa-pen-to-square' : 'fa-eye')"
      (onClick)="isViewMode = !isViewMode"
    ></p-button>
    <p-dropdown
      [options]="sortOptions"
      optionLabel="label"
      styleClass="mr-1"
      [(ngModel)]="selectedSort"
      [ngModelOptions]="{ standalone: true }"
      (onChange)="onChangeSortOption($event)"
    >
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2">
          <div>Sorted By: {{ selectedSort.label }}</div>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <div class="flex align-items-center gap-2">
          <i [class]="item.icon"></i>
          <div>{{ item.label }}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <div class="inline-flex">
      <p class="p-input-icon-right filter-input">
        <i
          class="fa-solid fa-filter fa-fw"
          *ngIf="filterValue.length === 0"
        ></i>
        <i
          class="fa-solid fa-circle-xmark fa-fw"
          (click)="resetFilter()"
          *ngIf="filterValue.length > 0"
        ></i>
        <input
          type="text"
          pInputText
          (keyup)="filterRecipes()"
          [(ngModel)]="filterValue"
          [ngModelOptions]="{ standalone: true }"
        />
      </p>
    </div>
  </div>
</div>
<div class="grid">
  <div class="col-3">
    <p-scroller
      [items]="filteredRecipes"
      [itemSize]="50"
      scrollHeight="calc(100vh - 110px)"
      styleClass="border-1 surface-border w-full"
    >
      <ng-template pTemplate="item" let-item let-options="options">
        <div
          class="flex align-items-center p-2 cursor-pointer"
          [ngClass]="{ 'bg-blue-200': selectedRecipe?.name === item.name }"
          style="height: 50px"
          (click)="selectedRecipe = item"
        >
          <span>{{ item.name }}</span>
          <p-button
            styleClass="p-button-raised p-button-primary mr-1"
            icon="fa-fw fa-solid fa-pen-to-square"
            (onClick)="onClickEditItem(item)"
            *ngIf="!isViewMode"
          ></p-button>
          <p-button
            styleClass="p-button-raised p-button-danger mr-1"
            icon="fa-fw fa-solid fa-trash"
            (onClick)="onClickDeleteItem($event, item.id)"
            *ngIf="!isViewMode"
          ></p-button>
        </div>
      </ng-template>
    </p-scroller>
  </div>
  <div class="col-9">
    <div class="selected-recipe" *ngIf="selectedRecipe">
      <div class="mb-3 recipe-name">{{ selectedRecipe.name }}</div>
      <div class="mb-3" [innerHTML]="selectedRecipe.ingredients"></div>
      <div class="mb-3" [innerHTML]="selectedRecipe.instructions"></div>
      <a [href]="selectedRecipe.url">View the recipe</a>
    </div>
  </div>
</div>

<p-toast position="top-right"></p-toast>
<p-confirmPopup></p-confirmPopup>
