<form [formGroup]="modalForm!" *ngIf="modalForm" class="modal-form">
  <div class="field">
    <label for="recipe-name">Name</label>
    <input
      id="recipe-name"
      type="text"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      formControlName="name"
    />
  </div>
  <div class="field">
    <label for="recipe-ingredients">Ingredients</label>
    <div class="card">
      <ckeditor
        id="recipe-ingredients"
        [editor]="Editor"
        [data]="modalForm.controls['ingredients'].value"
        #ckIngredients
      ></ckeditor>
    </div>
  </div>
  <div class="field">
    <label for="recipe-instructions">Instructions</label>
    <div class="card">
      <ckeditor
        id="recipe-instructions"
        [editor]="Editor"
        [data]="modalForm.controls['instructions'].value"
        #ckInstructions
      ></ckeditor>
    </div>
  </div>
  <div class="formgrid grid">
    <div class="field col">
      <label for="recipe-time-req-low">Time Required (Min)</label>
      <input
        id="recipe-time-req-low"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        placeholder="hh:mm"
        [(ngModel)]="timeReqParts[0]"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="field col">
      <label for="recipe-time-req-high">Time Required (Max)</label>
      <input
        id="lastnrecipe-time-req-highame2"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        placeholder="hh:mm"
        [(ngModel)]="timeReqParts[1]"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
  </div>
  <div class="field">
    <label for="recipe-url">URL</label>
    <input
      id="recipe-url"
      type="text"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      formControlName="url"
    />
  </div>
  <hr />
  <p-button
    label="Confirm"
    styleClass="p-button-raised p-button-primary"
    (onClick)="updateItem()"
    [disabled]="modalForm.invalid"
  ></p-button>
</form>
